/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
	color: #bfbfbf;
	margin: 20px 0px;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: #777777;
	margin: 10px 10px 10px;
	font-size: 2em;
	font-weight: bold;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.nathaniel1 {
	color: Gray;
	font-size: 18px;
	font-weight: bold;
}
.nathaniel2 {
	color: Gray;
	font-size: 3em;
	font-weight: bold;
}
label {
	color: GrayText;
	font-weight: normal;
}
texto01 {
	color: #bfbfbf;
	margin: 20px 0px;
	font-size: 2em;
	text-align: justify;
}
